:root{
    --primary: #0795e6;
    --secondary: #6c757d;
    --gray-dark: #424950;
    --gray-light: #443a40;
    --light: #f8f9fa;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Noto Sans", serif;
    font-size: 14px;
}
/***** VERSIÓN DE MÓVIL *****/
div#content{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
header img{
    width: 10rem;
    height: 10rem;
}

#menu-principal ul{
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
}
#menu-hamburguesa{
    display: none;
}
#menu-principal label span{
    font-size: 2rem;
    cursor: pointer;
}
#menu-hamburguesa:checked ~ ul{
    display: flex;
}

/***** VERSIÓN DE TABLET *****/
@media (min-width:700px){

}


/***** VERSIÓN DE ESCRITORIO *****/
@media (min-width:1165px){
    section#sec-vaiana > header#header-vaiana {
        position: relative;
    }
    section#sec-vaiana > header#header-vaiana > h2,
    section#sec-vaiana > header#header-vaiana > p{
        position: absolute;
    }
}