* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
}

header,
footer {
  background-color: #e6e7e8;
  border: 2px solid #3f3f3f;
  border-radius: 5px;
}

footer {
  color: #3f3f3f;
  height: 2rem;
}

header img#logo {
  width: 5rem;
  height: 4.35rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", serif;
  color: #00acdd;
}

header h1 {
  color: #004166;
  font-weight: bold;
}

header h1 span#subject {
  color: #96bc33;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #00acdd;
}

a:visited {
  color: #ea2126;
}

a:hover {
  cursor: pointer;
  color: #f58a1e;
}

nav ul li {
  list-style-type: none;
}
nav ul {
  padding-left: 0;
}

nav#main-menu {
  background-color: #004166;
  font-weight: bold;
  border: 2px solid #e6e7e8;
  border-radius: 5px;
}

main section#principal {
  border: 2px solid #004166;
  border-radius: 5px;
}

main section article.news-art {
  border: 5px solid #e6e7e8;
  border-radius: 0.8rem;
}
div#content main section#principal article#primerElemento {
  background-color: #e6e7e8;
  border-color: #f58a1e;
}

div#content main section article.news-art img {
  width: 20rem;
  height: auto;
}

div#content main section article.news-art p {
  padding: 0 1rem;
}
/*MENUDESP*/
div#content > nav#main-menu > input, div#content > nav #main-menu > ul{
  display: none;
}

div#content > nav#main-menu > input:checked + ul{
  display: none;
  margin-top: 0;
}

nav#main-menu{
  text-align: center;
  font-size: 30px;
}
/*PARTE FLEX*/

/*VERSIÓN DE MÓVIL*/
h2, h3{
  text-align: center;
}
div#content{
  display: flex;
  flex-direction: column;
}
div#content >  header{
  display: flex;
  flex-direction: row;
}
section#principal{
  display: flex;
  flex-direction: column;
}
section#principal > articule{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Version tablet*/
@media(min-width: 720px){
  section#principal > article{
    padding:1rem;
    flex-direction:row;
    flex-wrap: wrap;
  }
  h3{
    text-align:left;
    flex: 100%;
  }
  p{
    flex:40%;
    align-self:flex-start;
  }
}
/*VERSION ESCRITORIO*/
@media(min-width: 1020px){
  section#principal{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  h3{
    flex: 100%;
  }
  .news-art{
    flex:50%;
  }
  #primerElemento{
    flex: 100%;
  }
  /*Oculto para poner el menu*/
  nav#main-menu label, input{
    display: none;
  }
  li{
    margin: 0 auto;
    padding: 1rem;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: spacec-around;
  }
}