@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #536942;
    --secondary: #FFD936;
    --white: #efefef;
}

body{
    font-family: "DM Sans",sans-serif;
    color: var(--primary);
}

#main{
    background-image: url('./img/main.png');
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 28px;
}
.nav-list a {
     
}