*{
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: black;
    background-color: white;
}
ul{
    padding-left: 0;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    flex-flow: column;

}
header > p {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    margin-top: 0;
    background-color: black;
    color: white;
    margin-bottom: 0;
    font-weight: bold;
}
header > p > span:nth-child(1){
    display: none;
    margin: 0 auto;
}
header > div:nth-child(2){
    display: flex;
    align-items: center;
    padding: 0.8rem;
    justify-content: space-around;
}
header > div:nth-child(2) > svg:nth-child(1){
    width: 4.5rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    order: 3;
    flex: 1;
}
header > div:nth-child(2) > nav#main-menu{
    display: flex;
    flex-flow: column;
    order: 1;
}
header > div:nth-child(2) > nav#main-menu > label {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
header > div:nth-child(2) > nav#main-menu > input,
header > div:nth-child(2) > nav#main-menu > ul{
    display: none;
}
header > div:nth-child(2) > div#buscador{
    display: flex;
    align-items: center;
    order: 5;
    margin-left:0.5rem;

}
header > div:nth-child(2) > div#buscador > input{
    display: none;
}
header > div:nth-child(2) > div#buscador > svg{
    width: 2rem;
    height: auto;
}
header > div:nth-child(2) > svg#usuario{
    order: 4;
    margin-left: auto;
    width: 2rem;
    height: auto;
}
header > div:nth-child(2) > svg#carro{
    order: 6;
    margin-left:0.5rem;
    margin-right: 0.5rem;
    width: 2.1rem;
    height: auto;
}
header > div:nth-child(2) > svg#corazon{
    order: 2;
    width: 1.4rem;
    height: auto;
    margin-left: 0.3rem;
}
header > div:nth-child(3){
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(224, 224, 224);
}
header > div:nth-child(3) a{
    color: rgb(224, 224, 224);

}
@media (min-width: 1024px) {
  header {
     flex-flow: row wrap;
     align-items: center;
  }
  header > p{
    flex: 1 100%;
    justify-content: center;
  }
  header > div:nth-child(2){
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  header > div:nth-child(2) > svg:nth-child(1){
    order: 1;
    margin-right: 10rem;
    margin-left: 0rem;
  }
  header > div:nth-child(2) > nav#main-menu{
    display: flex;
    order: 2;
    margin-left: 0rem;
  }
  header > div:nth-child(2) > nav#main-menu > ul{
    display: flex;
    gap: 1rem;
  }
  header > div:nth-child(2) > nav#main-menu > label, 
  header > div:nth-child(2) > nav#main-menu > input{
    display: none;
  }
  header > div:nth-child(2) > div#buscador{
    display: flex;
    align-items: center;
    order: 3;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  header > div:nth-child(2) > div#buscador > input {
    display: inline;
    width: 9rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
    background: #eceff1;
    border: 0px;
  }
  header > div:nth-child(2) > svg#usuario{
    order: 4;
    margin: 0 0.5rem;
  }
  header > div:nth-child(2) > svg#corazon{
    order: 5;
    margin: 0 0.5rem;
  }
  header > div:nth-child(2) > svg#carro{
    order: 6;
    margin: 0 0.5rem;
  }
  header > div:nth-child(3){
    flex: 1 100%;
    padding: 1rem;
  }
  header > div:nth-child(3) > a{
   color: black;
  }
}
